
<div class=" content">
  
  <div class=" row">
    
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Funcionários</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th class=" text-center">ID</th>
                  <th class=" text-center">Nome</th>
                  <th class=" text-center">Já pagou a coca?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class=" text-center">1</td>
                  <td class=" text-center">Doneidez Ribeiro Cunha Junior</td>
                  <td class=" text-center">Não, até se mudou pra fugir da responsa</td>
                </tr>
                <tr>
                  <td class=" text-center">2</td>
                  <td class=" text-center">Guilherme Lopes Silviores</td>
                  <td class=" text-center">Ainda não, mas tá quase</td>
                </tr>
                <tr>
                  <td class=" text-center">3</td>
                  <td class=" text-center">Hiago Almeida Donha da Costa</td>
                  <td class=" text-center">Nem parece que vai</td>
                </tr>
                <tr>
                  <td class=" text-center">4</td>
                  <td class=" text-center">Geison Jason Feitosa</td>
                  <td class=" text-center">Tá quase também</td>
                </tr>
                <tr>
                  <td class=" text-center">5</td>
                  <td class=" text-center">Francisco Calaça Xavier</td>
                  <td class=" text-center">A breja sim kkkkk</td>
                </tr>
                <tr>
                  <td class=" text-center">6</td>
                  <td class=" text-center">Hiago Leandro Beautiful</td>
                  <td class=" text-center">Sim, e para todos ainda</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
